<footer class="footer has-text-centered has-background-black has-text-white">
  <div class="content">
    <p>
      <strong>Potion Break</strong> by <a href="http://davenguyen.ca">David Nguyen</a>
    </p>
  </div>
</footer>
