<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <!-- MOGRA font-->
                <img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/user">
                    Game Library
                </a>
                <a class="navbar-item" href="/potion-breaks">
                    Potion Breaks
                </a>
                <a class="navbar-item" href="/user-profile">
                    User Profile
                </a>
            </div>
        </div>
    </div>
</nav>