<nav class="navbar is-black">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/game-library">
                <!-- MOGRA font-->
                <img src="/images/logo.png" alt="Potion Break Logo">    
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbar-right">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar-right" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/game-library">
                    Game Library
                </a>
                <a class="navbar-item" href="/potion-breaks/view/all">
                    Potion Breaks
                </a>
                <a class="navbar-item" href="/user-profile">
                    User Profile
                </a> 
                <a class="navbar-item" href="/auth/logout">
                    Logout <i class="fa fa-sign-out ml-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</nav>