.module-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.module-card {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5%;
}

@media (min-width: 640px) {
    .module-card {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-width: 0;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

}

@media (min-width: 768px) {
    .module-card {
        width: 40%;
        min-width: 0;
        margin-left: 2.5%;
        margin-right: 2.5%;

    }

}

@media (min-width: 1280px) {
    .module-card {
        width: 28%;
        min-width: 0;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

}

/* bulma.io horizontal card CSS - https://github.com/jgthms/bulma/pull/1596#issuecomment-556416927 */
.card.is-horizontal {
    flex-direction: row;
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: none;
}

.card.is-horizontal .card-image {
    align-self: center;
}

.card.is-horizontal .image {
    min-height: 100%;
}

.card.is-horizontal .card-content {
    flex: 1;
}

.card.is-horizontal .card-content {
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

.card.is-horizontal ul {
    list-style: none;
    margin: 0;
}

.card.is-horizontal .is-divider {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.game-logo {
    float: left;
    margin-right: 5px;
}

/* 
outline text to improve readability on hero images
https: //stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css 
*/
.outline-text {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

html {
    background-color: black;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center
}

.icon.is-spaced {
    margin-bottom: 1.5rem;
}

.columns.is-spaced,
.subtitle.is-spaced {
    margin-bottom: 5rem;
}

/* swiper styles */
/* .swiper-container {
    width: 600px;
    height: 300px;
} */

/* 
SVG Button - https: //codepen.io/kaista/pen/WxqGBq/
*/
.play-btn {
    width: 10%;
}

.play-btn__svg {
    transition: 1s;
    fill: #7c7c7c;
    opacity: 1;
}

.play-btn:hover .play-btn__svg {
    fill: #a41d33;
    opacity: 1;
}

.img-overlay-wrap {
    position: relative;
    display: inline-block;
    /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap svg {
    /* position play button in middle of preview image */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* 
Progress bar numbers 
https: //stackoverflow.com/questions/50400219/bulma-progress-text-in-middle
*/
.progress-wrapper {
    position: relative;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1rem / 1.5);
    line-height: 1rem;
    font-weight: bold;
}

.progress.is-small+.progress-value {
    font-size: calc(0.75rem / 1.5);
    line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
    font-size: calc(1.25rem / 1.5);
    line-height: 1.25rem;
}

.progress.is-large+.progress-value {
    font-size: calc(1.5rem / 1.5);
    line-height: 1.5rem;
}