{{>custom-header}}
<link rel="stylesheet" type="text/css" href="/css/stripe.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css">
</head>
<html>

<body>
    {{>nav-bar}}
    <section class="hero is-medium">
        <div class="hero-body"
            style="background-image: url('/images/hero/create-potion-break/{{image}}'); background-position: center;">
            <div class="container">
                <h1 class="title outline-text has-text-centered has-text-white">
                    Start Potion Break
                </h1>
                <h2 class="subtitle outline-text has-text-centered has-text-white">
                    {{game.name}}
                </h2>
            </div>
        </div>
    </section>
    <section class="px-5 py-5 has-background-light">
        <div class="container">
            <form id="potion-break-form" method="POST" action="/submit-potion-break">
                <input type="hidden" id="appId" name="appId" value="{{game.app_id}}">
                <div class="field">
                    <label class="label" for="name">Name</label>
                    <div class="control">
                        <input required class="input" id="name" type="text" placeholder="John Smith" name="name"
                            value="{{user.name}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control">
                        <input required class="input" id="email" type="text" placeholder="john@example.com"
                            value="{{user.email}}" name="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="amount">Amount</label>
                    <div class="control">
                        <input required id="amount" class="input" type="number" placeholder="10, 20, 100, etc."
                            name="amount">
                    </div>
                </div>
                <div class="field" name="charity">
                    <label class="label" for="charity">Charity</label>
                    <div class="control">
                        <div class="select">
                            <select required id="charity" name="charity">
                                {{#charities}}
                                <option>{{name}}</option>
                                {{/charities}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="endDate">End Date</label>
                    <input required id="calendarInput" type="date" name="endDate">
                </div>

                <div class="field">
                    <label class="label" for="card-element">
                        Payment details
                    </label>
                    <div class="card">
                        <div>
                            <div id="card-element">
                                <!-- A Stripe card Element will be inserted here. -->
                            </div>
                        </div>
                    </div>
                    <div class="help is-danger" id="card-errors" role="alert"></div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" id="potion-break-form-submit" class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button id="potion-break-form-reset" type="reset" class="button is-link is-light">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {{>footer}}
    <script src="/js/load-stripe-checkout.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
    <script>
        var minDate = new Date();
        minDate.setDate(minDate.getDate() + 1);

        var maxDate = new Date();
        maxDate = new Date(maxDate.setMonth(maxDate.getMonth() + 1));

        // flatpickr calendar setup
        const fp = flatpickr('#calendarInput', {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            minDate: minDate,
            maxDate: maxDate,

            // fix to allow form validation to include the bulma date picker - https://github.com/flatpickr/flatpickr/issues/892#issuecomment-610753460
            allowInput: true
        });

        // additional fix to prevent users from entering invalid format into the data picker - https://github.com/flatpickr/flatpickr/issues/892#issuecomment-604387030
        fp._input.onkeypress = () => false;
    </script>
</body>

</html>