{{>custom-header}}
</head>
<html>

<body>
    {{>nav-bar}}
    <section class="hero is-medium">
        <div class="hero-body"
            style="background-image: url('/images/hero/game-library/{{image}}'); background-position: center;">
            <div class="container">
                <h1 class="title outline-text has-text-centered has-text-white">
                    Game Library
                </h1>
                <h2 class="subtitle outline-text has-text-centered has-text-white">
                    Start a Potion Break for one of your games played!
                </h2>
            </div>
        </div>
    </section>

    <section class="section has-background-light">
        <div class="columns is-centered">
            <div class="column">
                <div class="module-card-wrap">
                    {{#userSteamData}}
                    <div class="module-card card">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16x9">
                                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{id}}/header.jpg"
                                        alt="{{name}} Banner">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{id}}/{{img_icon}}.jpg"
                                                alt="{{name}} Icon">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">
                                            {{name}}</p>

                                        <p class="subtitle is-6">Total Time Played - {{total_time_played}}</p>

                                    </div>
                                </div>
                                <div class="content">
                                    <a href="/potion-break/create/{{id}}"> <button
                                            class="button is-large is-fullwidth {{potion_break_active}}-button"
                                            {{potion_break_active}}>Start Potion Break</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/userSteamData}}
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="/js/create-stripe-customer.js" defer></script>
    <script>
        var disabledButtons = document.getElementsByClassName("disabled-button");
        for (var i = 0; i < disabledButtons.length; i++) {
            disabledButtons[i].innerHTML = "Potion Break in Progress"
        }
    </script>
</body>

</html>