<html>
    <body>
        <img src="{{user._json.avatarfull}}"/>
        <p>ID:
            {{user._json.steamid}}</p>
        <p>Name:
            {{user._json.personaname}}</p>
        {{#userSteamData}}
            <p>App ID:
                {{appid}}</p>
            <p>Name:
                {{name}}</p>
            <p>Total Playtime:
                {{playtime_forever}}</p>
            <p>IMG Icon URL<img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_icon_url}}.jpg"/>
            </p>
        </p>
        <p>IMG Logo URL<img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_logo_url}}.jpg"/>
        </p>
    </body>
</html></p></p></body></html>{{/userSteamData}}</body></html>
