{{>custom-header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
    integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw=="
    crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css"
    integrity="sha512-uCQmAoax6aJTxC03VlH0uCEtE0iLi83TW1Qh6VezEZ5Y17rTrIE+8irz4H4ehM7Fbfbm8rb30OkxVkuwhXxrRg=="
    crossorigin="anonymous" />

<body>
    <section class="hero is-black is-large">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <!-- MOGRA font-->
                            <img src="/images/logo.png" alt="Potion Break Logo"></a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                            data-target="navbar-right">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbar-right" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="#how-it-works">
                                How it Works
                            </a>
                            <a class="navbar-item" href="#games">
                                Games
                            </a>
                            <a class="navbar-item" href="#charities">
                                Charities
                            </a>
                            <span class="navbar-item">
                                <a class="button is-black is-inverted" href="auth/steam">
                                    <span class="icon">
                                        <i class="fab fa-steam"></i>
                                    </span>
                                    <span>Logon with Steam</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body" style="background-image: url('/images/hero/home/home-background-1.jpg');">
            <div class="container has-text-centered">
                <h1 class="title outline-text is-spaced">
                    Take a Potion Break!
                </h1>
                <h2 class="subtitle outline-text">
                    Sometimes you need a breather from slaying dragons or saving the world.
                </h2>
            </div>
        </div>
    </section>
    <section id="how-it-works" class="section has-background-light is-medium">
        <div class="container is-small has-text-centered">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title is-spaced">
                        How it works
                    </h1>
                    <h2 class="subtitle is-spaced">
                        Potion break allows you to leverage the power of loss aversion while you take a break from
                        playing
                        games.
                    </h2>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <span class="icon is-large is-spaced">
                        <i class="far fa-calendar-alt fa-3x"></i>
                    </span>
                    <h3 class="title is-5 is-spaced">
                        Plan
                    </h3>
                    <p class="subtitle is-6">
                        Customize your potion break.<br>Options include game, charity and duration.
                    </p>
                </div>
                <div class="column">
                    <span class="icon is-large is-spaced">
                        <i class="fas fa-basketball-ball fa-3x"></i>
                    </span>
                    <h3 class="title is-5 is-spaced">
                        Break
                    </h3>
                    <p class="subtitle is-6">
                        Go AFK! Spend your extra time learning a new hobby, studying for that test or playing
                        some basketball.
                    </p>
                </div>
                <div class="column">
                    <span class="icon is-large is-spaced">
                        <i class="fas fa-donate fa-3x"></i>
                    </span>
                    <h3 class="title is-5 is-spaced">
                        Goal
                    </h3>
                    <p class="subtitle is-6">
                        Sucessfully take a break? Save your hard earned cash.
                        <br>
                        Give in to temptation? Lose your money to the charity of your choice
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--
    <section id="" class="section has-background-white">
        <div class="container is-small has-text-centered is-centered">
            <div class="is-half">
                <h1 class="title is-spaced">
                    Heading
                </h1>
                <h2 class="subtitle is-spaced">
                    Put something here
                </h2>
            </div>
        </div>
    </section>
    -->
    <section id="games" class="section has-background-dark is-medium">
        <div class="container is-small">
            <div class="columns is-centered">
                <div class="column is-half has-text-centered">
                    <div class="">
                        <h1 class="title is-spaced has-text-white">
                            Games
                        </h1>
                        <h2 class="subtitle is-spaced has-text-white">
                            All your favourite Steam games are supported.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered">
                <div class="column is-6 is-centered">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {{#dotaData.screenshots}}
                                <div class="swiper-slide">
                                    <a href="{{path_full}}" data-fancybox="dota-media">
                                        <img src="{{path_full}}" alt="DOTA 2 Screenshot" />
                                    </a>
                                </div>
                            {{/dotaData.screenshots}}
                            <div class="swiper-slide img-overlay-wrap">
                                <a href="javascript:;" data-fancybox-trigger="dota-media" data-fancybox-index="-1">
                                    <img src="/images/home/dota_movie_preview.jpg" alt="DOTA 2 Movie Screenshot" />
                                    <div class="play-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                                            <polygon class="play-btn__svg"
                                                points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69" />
                                            <path class="play-btn__svg"
                                                d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="column is-6 is-centered">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <h1 class="title is-spaced is-3 has-text-white has-text-centered">DOTA 2</h1>
                        </div>
                        <!--
                        <div class="column is-12">
                                <figure class="image">
                                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{dotaData.app_id}}/capsule_184x69.jpg"
                                        alt="{{dotaData.name}} Banner">
                                </figure>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6 is-centered is-hidden-tablet">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {{#halflifeData.screenshots}}
                                <div class="swiper-slide">
                                    <a href="{{path_full}}" data-fancybox="halflife-media">
                                        <img src="{{path_full}}" alt="Half-Life: Alyx Screenshot" />
                                    </a>
                                </div>
                            {{/halflifeData.screenshots}}
                            <div class="swiper-slide img-overlay-wrap">
                                <a href="javascript:;" data-fancybox-trigger="halflife-media" data-fancybox-index="-1">
                                    <img src="/images/home/halflife_movie_preview.jpg"
                                        alt="Half-Life: Alyx Movie Screenshot" />
                                    <div class="play-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                                            <polygon class="play-btn__svg"
                                                points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69" />
                                            <path class="play-btn__svg"
                                                d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="column is-6 is-centered">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <h1 class="title is-spaced is-3 has-text-white has-text-centered">Half-Life: Alyx
                            </h1>
                        </div>
                        <!--
                        <div class="column is-12">
                                <figure class="image">
                                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{divinityData.app_id}}/capsule_184x69.jpg"
                                        alt="{{divinityData.name}} Banner">
                                </figure>
                        </div>
                        -->
                    </div>
                </div>
                <div class="column is-6 is-centered is-hidden-mobile">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                        <!-- data-fancybox-index="0" -->
                            {{#halflifeData.screenshots}}
                            <div class="swiper-slide">
                                <a href="javascript:;" data-fancybox-trigger="halflife-media" >
                                    <img src="{{path_full}}" alt="Half-Life: Alyx Screenshot" />
                                </a>
                            </div>                            
                            {{/halflifeData.screenshots}}
                            <div class="swiper-slide img-overlay-wrap">
                                <a href="javascript:;" data-fancybox-trigger="halflife-media" data-fancybox-index="-1">
                                    <img src="/images/home/halflife_movie_preview.jpg"
                                        alt="Half-Life: Alyx Movie Screenshot" />
                                    <div class="play-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                                            <polygon class="play-btn__svg"
                                                points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69" />
                                            <path class="play-btn__svg"
                                                d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6 is-centered">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {{#divinityData.screenshots}}
                                <div class="swiper-slide">
                                    <a href="{{path_full}}" data-fancybox="divinity-media">
                                        <img src="{{path_full}}" alt="Divinity: Original Sin II Screenshot" />
                                    </a>
                                </div>
                            {{/divinityData.screenshots}}                        
                            <div class="swiper-slide img-overlay-wrap">
                                <a href="javascript:;" data-fancybox-trigger="divinity-media" data-fancybox-index="-1">
                                    <img src="/images/home/halflife_movie_preview.jpg"
                                        alt="Divinity: Original Sin II Movie Screenshot" />
                                    <div class="play-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                                            <polygon class="play-btn__svg"
                                                points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69" />
                                            <path class="play-btn__svg"
                                                d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="column is-6 is-centered">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <h1 class="title is-spaced is-3 has-text-white has-text-centered">Divinity: Original Sin II
                            </h1>
                        </div>
                        <!--
                        <div class="column is-12">
                                <figure class="image">
                                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{halflifeData.app_id}}/capsule_184x69.jpg"
                                        alt="{{halflifeData.name}} Banner">
                                </figure>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <!-- section for videos at the end of fancybox -->
        <a data-fancybox="dota-media" href="#dotaVideo" style="display:none;">
            <img src="images/home/dota_movie_preview.jpg" alt="dota Movie Thumbnail" />
        </a>
        <video width=100% height=auto controls id="dotaVideo" style="display:none;">
            <source src="{{dotaData.movies.0.webm_max}}" type="video/webm">
            <source src="{{dotaData.movies.0.mp4_max}}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
        </video>

        <a data-fancybox="halflife-media" href="#halflifeVideo" style="display:none;">
            <img src="images/home/halflife_movie_preview.jpg" alt="Half-Life: Alyx Movie Thumbnail" />
        </a>
        <video width=100% height=auto controls id="halflifeVideo" style="display:none;">
            <source src="{{halflifeData.movies.0.webm_max}}" type="video/webm">
            <source src="{{halflifeData.movies.0.mp4_max}}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
        </video>

        <a data-fancybox="divinity-media" href="#divinityVideo" style="display:none;">
            <img src="images/home/divinity_movie_preview.jpg" alt="Half-Life: Alyx Movie Thumbnail" />
        </a>
        <video width=100% height=auto controls id="divinityVideo" style="display:none;">
            <source src="{{divinityData.movies.0.webm_max}}" type="video/webm">
            <source src="{{divinityData.movies.0.mp4_max}}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
        </video>
    </section>

    <section id="charities" class="section has-background-light is-medium">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-12 has-text-centered">
                    <h1 id="charities" class="title is-spaced">Charities</h1>
                    <h2 class="subtitle">Donate to any one of the non-profit organizations available.</h2>
                </div>
            </div>
            <div class="columns">
                {{#charityData}}
                    <div class="column has-text-centered">
                        <figure class="image is-4by3">
                            <img src="{{img_path}}" alt="Logo of {{name}}">
                        </figure>
                        <h2 class="subtitle">{{full_name}}</h2>
                    </div>
                {{/charityData}}
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
        integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
        integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww=="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.fancybox.defaults.backFocus = false;
            var mySwiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            })
        });
    </script>
</body>

</html>