{{>custom-header}}
    <script src="/js/create-stripe-customer.js" defer></script>
</head>
<html>

<body>
    {{>nav-bar}}
    <section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        You have successfully started a potion break
      </h1>
      <h2 class="subtitle">
        Best of luck!
      </h2>
    </div>
  </div>
</section>

</body>