{{>custom-header}}
</head>
<html>

<body>
    {{>nav-bar}}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    You have successfully started a potion break
                </h1>
                <h2 class="subtitle has-text-centered">
                    Best of luck!
                </h2>
            </div>
        </div>

    </section>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-centered">Start Date</p>
                        <div class="content">
                            <p class="has-text-centered is-size-4">
                                {{potionBreakData.formatted_start_date}}</p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-centered">End Date</p>
                        <div class="content">
                            <p class="has-text-centered is-size-4">
                                {{potionBreakData.formatted_end_date}}</p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-centered">Total Days</p>
                        <div class="content">
                            <p class="has-text-centered is-size-3">{{potionBreakData.total_days}}
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child box">
                                <p class="title has-text-centered">Value Pledged</p>
                                <div class="content">
                                    <p class="has-text-centered is-size-4">
                                        ${{potionBreakData.total_value}}</p>
                                </div>
                            </article>
                            <article class="tile is-child box" style="display: grid;">
                                <p class="title has-text-centered">Game</p>
                                <figure class="image is-3by1">
                                    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{potionBreakData.app_id}}/{{potionBreakData.game_img_logo_url}}.jpg"
                                        alt="Logo">
                                </figure>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title has-text-centered">Charity</p>
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/640x480.png" alt="logo of charity">
                                </figure>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title has-text-centered">Start Playtime</p>
                                <div class="content">
                                    <p class="has-text-centered is-size-4">
                                        {{potionBreakData.playtime_start_hours}} hours and
                                        {{potionBreakData.playtime_start_minutes}} minutes</p>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title has-text-centered">Charity</p>
                                <div class="content">
                                    <p class="has-text-centered is-size-4">{{potionBreakData.charity_name}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <div class="content">
                            <p class="title has-text-centered">Charity Description</p>
                            <div class="content">
                                <p class="has-text-justifed is-size-5">
                                    {{potionBreakData.charity_description}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>