{{>custom-header}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
<script src="https://use.fontawesome.com/4da2109ad6.js"></script>
</head>
<html>

<body>
    {{>nav-bar}}

    <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="potion-break-table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Value</th>
                <th>Status</th>
                <th>Initial Playtime</th>
                <th>Charity</th>
            </tr>
        </thead>
        <tbody>
            {{#potionBreakData}}
            <tr>
                <td>{{game_name}}</td>
                <td>{{start_date}}</td>
                <td>{{end_date}}</td>
                <td>{{total_value}}</td>
                <td>{{status}}</td>
                <td>{{playtime_start}}</td>
                <td>{{charity_name}}</td>
            </tr>
            {{/potionBreakData}}
        </tbody>
    </table>
    <script type="text/javascript">
        $("#potion-break-table").DataTable();
    </script>
    {{>footer}}
</body>

</html>