{{>custom-header}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css">
</head>
<html>

<body class="has-background-black">
    {{>nav-bar}}
    <section class="hero is-medium">
        <div class="hero-body"
            style="background-image: url('/images/hero/view-all-potion-breaks/{{image}}'); background-position: center;">
            <div class="container">
                <h1 class="title outline-text has-text-centered has-text-white">
                    Potion Breaks
                </h1>
                <h2 class="subtitle outline-text has-text-centered has-text-white">
                    View past and current potion breaks
                </h2>
            </div>
        </div>
    </section>
    <section class="section has-background-light">
        <div class="container">
            <div class="table-container">
                <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="potion-break-table">
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Value</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Charity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#potionBreakData}}
                        <tr>
                            <td>
                                <div class="is-flex">
                                <figure class="image is-24x24 game-logo">
                                    <img src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/apps/{{game_id}}/{{game_img_icon_url}}.jpg"
                                        alt="{{game_name}} Icon">
                                </figure>
                                {{game_name}}                                
                                </div>
                            </td>
                            <td>{{formatted_start_date}}</td>
                            <td>{{formatted_end_date}}</td>
                            <td>{{total_value}}</td>
                            <td>{{status}}</td>
                            <td class="is-vcentered">
                            <div class="progress-wrapper">
                            <progress class="progress {{progress_colour}} is-medium" style="margin-bottom: 0;" value="{{progress_percentage}}" max="100">{{progress_percentage}}%</progress>
                            <p class="progress-value has-text-black">{{progress_percentage}}%</p>
                            </div>
                            </td>
                            <!-- <td>{{playtime_start_hours}} hours and {{playtime_start_minutes}} minutes</td> -->
                            <td>{{charity_name}}</td>
                        </tr>
                        {{/potionBreakData}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#potion-break-table").DataTable({
                "order": [
                    [1, "desc"]
                ]
            });
        })
    </script>
</body>

</html>